.bold {
    font-weight: 800;
}

body {
    background-image: url(/space.jpg);
    font-family: 'Montserrat', sans-serif;
}

.categorize {
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration: none;
    padding: 50px;
}

.space {
    margin-bottom: 50px;
}

